* text=auto eol=lf

*.qsb binary linguist-generated
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.mp4 binary
*.webm binary

*.qml linguist-language=QML
*.frag linguist-language=GLSL
*.vert linguist-language=GLSL
*.lua linguist-language=Lua
*.sh linguist-language=Shell
*.py linguist-language=Python
*.fish linguist-language=fish

dotfiles/hypr/scripts/blackhole linguist-language=Python
dotfiles/hypr/scripts/doiz-set linguist-language=Python
dotfiles/hypr/scripts/doiz-lyrics linguist-language=Python
dotfiles/hypr/scripts/toggle-auto-arrange-grid linguist-language=Python
dotfiles/hypr/scripts/doiz-session linguist-language=Shell
dotfiles/hypr/scripts/doiz-controlcenter linguist-language=Shell
dotfiles/hypr/scripts/doiz-notifd linguist-language=Shell
dotfiles/hypr/scripts/toggle-infinite-desktop linguist-language=Shell
dotfiles/hypr/scripts/waybar-peek linguist-language=Shell
dotfiles/btop/run-btop linguist-language=Shell

dotfiles/hypr/scripts/infinite-desktop/** linguist-vendored
dotfiles/cava/shaders/** linguist-vendored
dotfiles/gtk-3.0/gtk.css linguist-generated
dotfiles/fish/fish_variables linguist-generated
dotfiles/mycfg/theme-state.env linguist-generated

README.md linguist-documentation
